### bulk RNAseq analysis

In [1]:
#Imports

import os
import sys
import scanpy as sc
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
sc.settings.set_figure_params(dpi=100, facecolor='white')

In [9]:
#Read the count matrix
pathToCountMatrix = 'data/bulk_RNAseq/countMatrix.csv'
countMatrix = pd.read_csv(pathToCountMatrix, index_col = 0)
#Remove genes where counts are 0 for all samples
countMatrix = countMatrix[countMatrix.sum(axis = 1) >0]
#Transpose the matrix
countMatrix = countMatrix.T
countMatrix.head()

gene,WASH7P,MIR6859-1,LOC124900384,LOC729737,DDX11L17,LOC100996442,LOC100132287,MIR12136,OR4F16,LOC100288069,...,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB,TRNT,TRNP
SRR14808580,42,1,1,95,6,39,3,11,1,16,...,60010,151273,12751,5598,59580,28957,9830,56279,1,1245

In [10]:
adata = sc.AnnData(countMatrix)
adata

AnnData object with n_obs × n_vars = 1 × 24214

In [11]:
#Sample names
adata.obs

Empty DataFrame
Columns: []
Index: [SRR14808580]

In [12]:
#Gene names
adata.var

Empty DataFrame
Columns: []
Index: [WASH7P, MIR6859-1, LOC124900384, LOC729737, DDX11L17, LOC100996442, LOC100132287, MIR12136, OR4F16, LOC100288069, LINC01409, LINC00115, LINC01128, LOC107984850, LOC284600, LINC02593, LOC107985728, SAMD11, NOC2L, KLHL17, PLEKHN1, HES4, ISG15, AGRN, LOC100288175, LOC105378948, RNF223, C1orf159, LOC124903819, LINC01342, LOC124903818, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, UBE2J2, SCNN1D, ACAP3, SNORD167, PUSL1, INTS11, CPTP, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20-AS1, MRPL20, MRPL20-DT, ANKRD65, ANKRD65-AS1, TMEM88B, LINC01770, LOC107985729, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, FNDC10, LOC105378586, MIB2, LOC124903821, MMP23B, CDK11B, SLC35E2B, MMP23A, CDK11A, SLC35E2A, NADK, GNB1, GNB1-DT, LOC124903822, CALML6, TMEM52, CFAP74, LOC107984872, LOC105378589, GABRD, LOC105378590, PRKCZ, PRKCZ-DT, PRKCZ-AS1, FAAP20, LOC112268219, SKI, LOC124903824, MORN1, LOC100129534, RER1, PEX10, PRDM16, LOC107984909, LOC124903828, LOC105378604, ...]

[24214 rows x 0 columns]